<?xml version="1.0" encoding="utf-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>The Ulster Hang Gliding and Paragliding Club</ShortName>
  <Description>The Ulster Hang Gliding and Paragliding Club</Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Image type="image/vnd.microsoft.icon" width="16" height="16">http://www.uhpc.co.uk/Joomla25/templates/beez5/favicon.ico</Image>
  <Url type="application/opensearchdescription+xml" rel="self" template="/component/search/?Itemid=105&amp;catid=10&amp;id=122&amp;format=opensearch"/>
  <Url type="text/html" template="?option=com_search&amp;searchword={searchTerms}"/>
</OpenSearchDescription>
